.description-product {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.description-product > .item.-heart {
  position: absolute;
  left: -47px;
  top: 9px;
  transform: translateX(-100%);
  cursor: pointer;
  transition: 300ms linear;
}

.description-product > .item.-heart > .heart:hover {
  transform: scale(1.1);
}

.description-product > .item.-star {
  margin-bottom: 10px;
}

.description-product > .item.-star + .item {
  margin-left: 7px;
}

.description-product .icon {
  margin-right: 9px;
  cursor: pointer;
  transition: 100ms linear;
}

.description-product .icon:hover {
  transform: scale(1.2);
}

.description-product .icon.-last {
  margin-right: 0px;
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}

.description-product > .item.-last {
  margin-bottom: 72px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.description-product > .text.-more {
  margin-bottom: 0px;
}

.description-product .action {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1183px) {
  .description-product > .item {
    font-size: 18px;
  }

  .description-product > .text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 18px;
  }
}

@media (max-width: 1086px) {
  .description-product > .item.-heart {
    display: none;
  }
}

@media (max-width: 1036px) {
  .description-product > .title {
    font-size: 22px;
  }

  .description-product > .item.-info {
    width: 150px;
  }

  .description-product > .item.-last {
    margin-bottom: 52px;
  }

  .description-product > .item {
    font-size: 16px;
  }
}

@media (max-width: 816px) {
  .description-product > .item {
    margin-bottom: 13px;
  }

  .description-product > .item.-last {
    margin-bottom: 42px;
  }
}

@media (max-width: 786px) {
  .description-product > .title {
    font-size: 25px;
    margin-bottom: 23px;
  }
}
