.product-image-container {
  display: inline-block;
  width: 50%;
}

.product-image-source {
  margin-left: 105px;
  background-color: #fff;
}

.product-description {
  /* float: right; */
  display: inline-block;
  /* width: 50%; */
}

.dl-store {
  color: #fff;
  text-align: left;
  font-family: Arial, "Roboto", sans-serif;
  margin-top: 140px;
  display: inline-block;
}

.dt-store {
  font-size: 25px;
  line-height: 30px;
}

.dd-store {
  font-size: 20px;
}

.dd-store.-score {
  margin-top: 99px;
}

.dd-store.-price {
  margin-top: 28px;
  text-transform: uppercase;
}

.dd-store.-description {
  font-size: 18px;
  line-height: 30px;
  margin-top: 73px;
  margin-bottom: 40px;
  width: 553px;
}

.dd-store.-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 98px;
}

.dd-store.-button {
  display: inline-block;
}

.dd-store.-button.-first {
  margin-right: 38px;
}
