header {
  background-color: #e24647;
  overflow: hidden;
  color: #ffffff;
  margin-left: 116px;
  margin-right: 116px;
  padding: 55px 60px 95px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 60px;
}

nav {
  float: right;
}

button {
  background-color: #252c41;
  color: #ffffff;
  width: 200px;
  height: 60px;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  border: 0;
}
