header {
  background-color: #e24647;
  overflow: hidden;
}

h1,
a {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  font-family: ArialMT;
  float: left;
}

a {
  font-size: 21px;
  font-family: SegoeUI;
  text-decoration: none;
}

nav {
  float: right;
}
